:root{
    --primary-color: #343a40;
    --secondary-color: ffc108;
}

.extreme{
    background-color: violet;
    border-radius: 15%;
    color: white;
}

.very-high{
    background-color: red;
    border-radius: 15%;
    color: white;
}

.high{
    background-color: orange;
    border-radius: 15%;
    color: black;
}

.moderate{
    background-color: yellow;
    border-radius: 15%;
    color: black;
}

.low{
    background-color: green;
    border-radius: 15%;
    color: white;
}